

<div class="container">
    <header class="jumbotron">
    
      <!-- <p>user-dashboard works!</p> -->


      <div>
        <div class="row">
            <div>
                <div>
                    <input type="text" name="source" [(ngModel)]="source" id="source" (keypress)="letterOnly($event)" placeholder="From">
                    &nbsp;&nbsp;
                    <input type="text" name="destination" [(ngModel)]="destination" id="destination" (keypress)="letterOnly($event)" placeholder="To">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <span class="input-group-btn">
                        <button id="searchButton" class="btn btn-primary" type="button" (click)="searchTrain()">
                            <span class="glyphicon glyphicon-search"> &nbsp; Search</span>
                        </button>
                        
                        <button id="backButton" class="btn btn-primary" type="button" (click)="goBack()">
                            <span class="glyphicon glyphicon-search"> &nbsp; Back</span>
                        </button>
    
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    
    <div>
        <table class="table table-bordered" id="trains-table">
            <thead class="thead">
                <tr>
                    <th>Train ID</th>
                    <th>Train Name</th>
                    <th>Source [FROM]</th>
                    <th>Destination [TO]</th>
                    <th>Fare</th>
                    <th>Seats Available</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let train of trainsList">
                    <td>{{train.trainId}}</td>
                    <td>{{train.trainName}}</td>
                    <td>{{train.source}}</td>
                    <td>{{train.destination}}</td>
                    <td>₹{{train.price}}</td>
                    <td>{{train.seats}}</td>
                    <td>{{train.time}}</td>
                    <!-- <td (click)="goToBooking()"><button>Book Now</button></td> -->
                    <td  data-bs-toggle="modal" data-bs-target="#myModal"  (click)="onBooking(train)"><button class="btn-btn-primaty"  id="bookNow">Book Now</button></td>
                </tr>
                
            </tbody>
        </table>
    </div>



    <!-- modal for ticket booking -->

    <div class="container">
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 modal-title>Book Ticket Here</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="ticketBookingForm">
                 
                  <div class="mb-3">
                    <label for="" class="form-label">Passanger Name</label>
                  <input type="text" formControlName="passangerName" (keypress)="letterOnly($event)"  class="form-control">
                  </div>
  
                  <div class="mb-3">
                    <label for="" class="form-label">Passanger Contact</label>
                    <input type="tel" formControlName="passangerContact"  (keypress)="keyPressNumbers($event)" class="form-control">
                  </div>

                  <div class="mb-3">
                    <label for="" class="form-label">Passanger email</label>
                    <input type="email" formControlName="passangerEmail" class="form-control">
                  </div>
  
                  <div class="mb-3">
                    <label for="" class="form-label">Train Id</label>
                    <input type="number" formControlName="trainId"  class="form-control">
                  </div>
  
                  <div class="mb-3">
                    <label for="" class="form-label">Train Name</label>
                    <input type="text" formControlName="trainName"  (keypress)="letterOnly($event)"  class="form-control">  
                  </div>

                  <div class="mb-3">
                    <label for="" class="form-label">Source</label>
                    <input type="text" formControlName="source" (keypress)="letterOnly($event)"   class="form-control">  
                  </div>

                  <div class="mb-3">
                    <label for="" class="form-label">Destination</label>
                    <input type="text" formControlName="destination" (keypress)="letterOnly($event)"   class="form-control">  
                  </div>

                  <div class="mb-3">
                    <label for="" class="form-label">Price</label>
                    <input type="number" formControlName="price" (keypress)="keyPressNumbers($event)"  class="form-control">  
                  </div>

                  <div class="mb-3">
                    <label for="" class="form-label">Time</label>
                    <input type="time" formControlName="time" (keypress)="keyPressNumbers($event)"  class="form-control">  
                  </div>

                  <div class="mb-3">
                    <label for="" class="form-label">Date</label>
                    <input type="text" formControlName="date" (keypress)="keyPressNumbers($event)"  class="form-control"  placeholder="dd-mm-yyyy">  
                  </div>

                  </form>
              </div>
  
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onSubmitOfTicket()">Submit</button>
                <button type="submit" data-bs-dismiss="modal" class="btn btn-primary" >Close</button>
              </div>
            </div>
          </div>
        </div>
       </div>
        

    </header>
  </div>
