

<div class="container">
    <header class="jumbotron">
    
      <!-- <p>user-dashboard works!</p> -->


      <div>
        <div class="row">
            <div>
                <div>
                    <input type="text" name="source" [(ngModel)]="source" id="source" (keypress)="letterOnly($event)" placeholder="From">
                    &nbsp;&nbsp;
                    <input type="text" name="destination" [(ngModel)]="destination" id="destination" (keypress)="letterOnly($event)" placeholder="To">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <span class="input-group-btn">
                        <button id="searchButton" class="btn btn-primary" type="button" (click)="searchTrain()">
                            <span class="glyphicon glyphicon-search"> &nbsp; Search</span>
                        </button>
                        
                        <button id="backButton" class="btn btn-primary" type="button" (click)="goBack()">
                            <span class="glyphicon glyphicon-search"> &nbsp; Back</span>
                        </button>
    
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    
    <div>
        <table class="table table-bordered" id="trains-table">
            <thead class="thead">
                <tr>
                    <th>Train ID</th>
                    <th>Train Name</th>
                    <th>Source [FROM]</th>
                    <th>Destination [TO]</th>
                    <th>Fare</th>
                    <th>Seats Available</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let train of trainsList">
                    <td>{{train.trainId}}</td>
                    <td>{{train.trainName}}</td>
                    <td>{{train.source}}</td>
                    <td>{{train.destination}}</td>
                    <td>₹{{train.price}}</td>
                    <td>{{train.seats}}</td>
                    <td>{{train.time}}</td>
                    <!-- <td (click)="goToBooking()"><button>Book Now</button></td> -->
                    <td  data-bs-toggle="modal" data-bs-target="#myModal"  (click)="onBooking(train)"><button class="btn-btn-primaty"  id="bookNow">Book Now</button></td>
                </tr>
                
            </tbody>
        </table>
    </div>



    <!-- modal for ticket booking -->

    <div class="container">
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 modal-title>Book Ticket Here</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="ticketBookingForm"  (ngSubmit)="onSubmit()">
                 


                  <div class="mb-3">
                    <label for="" class="form-label">Passanger Name</label>
                  <input type="text" formControlName="passangerName"  class="form-control"
                   [class.is-invalid]="passangerName?.invalid && passangerName?.touched">

                   <div *ngIf="passangerName?.invalid && passangerName?.touched">
                    <small *ngIf="passangerName?.errors?.['required']" class="text-danger">passangerName is required</small>
                    <small *ngIf="passangerName?.errors?.['minlength']" class="text-danger">passangerName must be atleast 3 characters</small>
                    <small *ngIf="passangerName?.errors?.['maxLength']" class="text-danger"> passangerName exceeding 20 characters not allowed</small>
                  </div>

                  </div>
  



                  <div class="mb-3">
                    <label for="" class="form-label">Passanger Contact</label>
                    <input type="tel" formControlName="passangerContact"  (keypress)="keyPressNumbers($event)" class="form-control"
                    [class.is-invalid]="passangerContact?.invalid && passangerContact?.touched">

                    <div *ngIf="passangerContact?.invalid && passangerContact?.touched">
                      <small *ngIf="passangerContact?.errors?.['required']" class="text-danger">passangerContact is required</small>
                    </div>

                  </div>





                  <div class="mb-3">
                    <label for="" class="form-label">Passanger email</label>
                    <input type="email" formControlName="passangerEmail" class="form-control"
                    [class.is-invalid]="passangerEmail?.invalid && passangerEmail?.touched">

                    <div *ngIf="passangerEmail?.invalid && passangerEmail?.touched">
                      <small *ngIf="passangerEmail?.errors?.['required']" class="text-danger">passanger Email is required</small>
                      <small *ngIf="passangerEmail?.errors?.['email']" class="text-danger"> Email not valid</small>
                    </div>
                  </div>
  



                  <div class="mb-3">
                    <label for="" class="form-label">Train Id</label>
                    <input type="number" formControlName="trainId"  class="form-control"
                    [class.is-invalid]="trainId?.invalid && trainId?.touched">

                    <div *ngIf="trainId?.invalid && trainId?.touched">
                      <small *ngIf="trainId?.errors?.['required']" class="text-danger">train Id is required</small>
                    </div>
                  </div>
  
                  <div class="mb-3">
                    <label for="" class="form-label">Train Name</label>
                    <input type="text" formControlName="trainName"   class="form-control"
                    [class.is-invalid]="trainName?.invalid && trainName?.touched">  

                    <div *ngIf="trainName?.invalid && trainName?.touched">
                      <small *ngIf="trainName?.errors?.['required']" class="text-danger">trainName is required</small>
                      <small *ngIf="trainName?.errors?.['minlength']" class="text-danger">trainName must be atleast 3 characters</small>
                      <small *ngIf="trainName?.errors?.['maxLength']" class="text-danger"> trainName exceeding 20 characters not allowed</small>
                    </div>

                  </div>




                  <div class="mb-3">
                    <label for="" class="form-label">Source</label>
                    <input type="text" formControlName="source" (keypress)="letterOnly($event)"   class="form-control"
                    [class.is-invalid]="sources?.invalid && sources?.touched">  

                    <div *ngIf="sources?.invalid && sources?.touched">
                      <small *ngIf="sources?.errors?.['required']" class="text-danger">this is required feild</small>
                      <small *ngIf="sources?.errors?.['minlength']" class="text-danger"> must be atleast 3 characters</small>
                      <small *ngIf="sources?.errors?.['maxLength']" class="text-danger"> source exceeding 20 characters not allowed</small>
                    </div>

                  </div>





                  <div class="mb-3">
                    <label for="" class="form-label">Destination</label>
                    <input type="text" formControlName="destination" (keypress)="letterOnly($event)"   class="form-control"
                    [class.is-invalid]="destinations?.invalid && destinations?.touched">  

                    <div *ngIf="destinations?.invalid && destinations?.touched">
                      <small *ngIf="destinations?.errors?.['required']" class="text-danger">this is required feild</small>
                      <small *ngIf="destinations?.errors?.['minlength']" class="text-danger"> must be atleast 3 characters</small>
                      <small *ngIf="destinations?.errors?.['maxLength']" class="text-danger"> destination exceeding 20 characters not allowed</small>
                    </div>

                  </div>




                  <div class="mb-3">
                    <label for="" class="form-label">Price</label>
                    <input type="number" formControlName="price" (keypress)="keyPressNumbers($event)"  class="form-control"
                    [class.is-invalid]="price?.invalid && price?.touched">  

                    <div *ngIf="price?.invalid && price?.touched">
                      <small *ngIf="price?.errors?.['required']" class="text-danger">this is required feild</small>
                    </div>

                  </div>




                  <div class="mb-3">
                    <label for="" class="form-label">Time</label>
                    <input type="time" formControlName="time" (keypress)="keyPressNumbers($event)"  class="form-control"
                    [class.is-invalid]="time?.invalid && time?.touched"> 
                    
                    <div *ngIf="time?.invalid && time?.touched">
                      <small *ngIf="time?.errors?.['required']" class="text-danger">this is required feild</small>
                    </div>

                  </div>



                  <div class="mb-3">
                    <label for="" class="form-label">Date</label>
                    <input type="text" formControlName="date"   class="form-control"  placeholder="dd-mm-yyyy"
                    [class.is-invalid]="date?.invalid && date?.touched"> 
                    
                    <div *ngIf="date?.invalid && date?.touched">
                      <small *ngIf="date?.errors?.['required']" class="text-danger">this is required feild</small>
                    </div>

                  </div>

                  </form>
              </div>
  
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!ticketBookingForm.valid" (click)="onSubmitOfTicket()">Submit</button>
                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                <button type="submit" data-bs-dismiss="modal" class="btn btn-primary" >Close</button>
              </div>
            </div>
          </div>
        </div>
       </div>
        

    </header>
  </div>
